<titulo-pagina [titulo]="'Transacciones'"></titulo-pagina>
<progressbar></progressbar>
<subtitulo-pagina [subTitulo]="'Compra'"></subtitulo-pagina>

<div class="row">
    <p-toast (onClose)="closeAlert()" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    
    <div class="px-0 px-lg-5 pt-0 pt-lg-2">
        <div class="row">
            <div class="col-12 col-md-6 my-2">
                <section class="row">
                    <informacion-compra
                        [proveedores]="listaProveedores"
                        [empleados]="listaEmpleados"
                        [dataSave]="isProviderSave"
                        (isDataSave)="isProviderSave=$event"
                        (proveedorSeleccionado)="modificarProveedorSeleccionado($event)"
                        (empleadoSeleccionado)="modificarEmpleadoSeleccionado($event)"
                        >
                    </informacion-compra>
                </section>
                <br>
                    <section class="row">
                        <tabla-detalle-compra
                            [detalles]="detalleSeleccionado"
                            [dataSave]="isDetalleSave"
                            (isDataSave)="isDetalleSave=$event"
                            >
                        </tabla-detalle-compra>
                    </section>
                <br>
                <label 
                class="ml-3 label-compra" 
                for="selectEmpleado">
                    MONTO TOTAL: {{MontoTotalCompra  | currency: 'PEN'}}
                </label>
                
            </div>
            <div class="offset-0 offset-md-1 col-12 col-md-5 mt-1">
                <tabla-productos
                [productos]="listaProductos"
                [dataSave]="isProductSave"
                (isDataSave)="isProductSave=$event"
                (detalle)="modificarDetalleSeleccionado($event)"
                >
                </tabla-productos>
            </div>
            <div class="row mt-4">
                
                <div class="text-center">
                    <button
                        type="button"
                        [disabled]="!verificarCompra()"
                        (click)="realizarCompra()"
                        class="py-2 px-5 btn btn-primary">REALIZAR COMPRA
                    </button>
                </div>
            </div>
        </div>
    </div>